{% extends 'side_bar.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block htmlbody %}

<!--app-content open-->
				<div class="app-content main-content mt-0">
					<div class="side-app">
						<!-- CONTAINER -->
						<div class="main-container container-fluid">

							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Update Out Depot Vehicles Receive</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="javascript:void(0);">Out Depot Vehicles Receive</a></li>
										<li class="breadcrumb-item active" aria-current="page">Edit Out Depot Vehicles Receive</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!-- row -->
							<div class="row row-sm">
								<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
									<div class="card box-shadow-0">
										<div class="card-header border-bottom">
											<h3 class="card-title">Edit Out Depot Vehicles Receive Form</h3>
										</div>
										<div class="card-body">
											<form class="form-horizontal row" action="{% url 'app:out_depot_vehicle_receive_update' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

                                                <input type="hidden" name="id" value="{{out_depot_vehicle_receive_data.id}}">

												<div class="form-group col-md-6">
                                                    <label class="form-label" for="bus_number">Bus Number</label>
                                                    <input type="text" id="bus_number" name="bus_number" class="form-control" value="{{out_depot_vehicle_receive_data.bus_number.bus_number}}" readonly>
												</div>

                                                <div class="form-group col-md-6">
                                                    <label class="form-label" for="unique_no">Unique Number</label>
                                                    <input type="text" id="unique_no" name="unique_no" class="form-control" value="{{out_depot_vehicle_receive_data.unique_no}}" required pattern="^\d{4}$" title="Please enter exactly four digits" oninput="validateInput()">
                                                    <span id="validationMessage" style="color: red;"></span>
												</div>

												<div class="form-group col-md-6">
                                                    <label class="form-label" for="new_log_sheet_no">New Log Sheet Number:</label>
                                                    <input type="number" id="new_log_sheet_no" name="new_log_sheet_no" class="form-control" value="{{out_depot_vehicle_receive_data.new_log_sheet_no}}" required>
												</div>

                                                <div class="form-group col-md-6">
                                                    <label class="form-label" for="hsd_top_oil_liters">Hsd top_oil liters:</label>
                                                    <input type="text" id="hsd_top_oil_liters" name="hsd_top_oil_liters" class="form-control" value="{{out_depot_vehicle_receive_data.hsd_top_oil_liters}}" required pattern="^\d{1,3}$" title="Please enter up to 3 digits only" oninput="validate_hsd_top_oilInput()">
													<span id="validation_message" style="color: red;"></span>
												</div>

                                                <div class="form-group col-md-6">
                                                    <label class="form-label" for="mts_no">MTS No:</label>
                                                    <input type="number" id="mts_no" name="mts_no" class="form-control" value="{{out_depot_vehicle_receive_data.mts_no}}" required>
												</div>

                                                <div class="form-group col-md-6">
                                                    <label class="form-label" for="bus_reported_date">Bus Reported Date:</label>
                                                    <input type="date" id="bus_reported_date" name="bus_reported_date" class="form-control" value="{{out_depot_vehicle_receive_data.bus_reported_date|date:'Y-m-d'}}" required>
												</div>

                                                <div class="form-group col-md-6">
                                                    <label class="form-label" for="bus_reported_time">Bus Reported Time:</label>
                                                    <input type="time" id="bus_reported_time" name="bus_reported_time" class="form-control" value="{{out_depot_vehicle_receive_data.bus_reported_time|date:'H:i'}}" required>
												</div>

												<div class="form-group mt-3">
													<div>
														<button type="submit" class="btn btn-primary">Submit</button>
														<a href="{% url 'app:out_depot_buses_receive_list' %}" >
															<button type="button" class="btn btn-secondary">Cancel</button>
														</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- row -->
						</div>
					</div>
				</div>
				<!-- CONTAINER CLOSED -->

{% endblock %}