{% extends 'side_bar.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block htmlbody %}
<!--app-content open-->
				<div class="app-content main-content mt-0">
					<div class="side-app">
						<!-- CONTAINER -->
						<div class="main-container container-fluid">

							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title"> Users</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="">Vehicle</a></li>
										<li class="breadcrumb-item active" aria-current="page"> Add Vehicle</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->
							<div class="container">
								<center>
									{% if messages %}
										{% for message in messages %}
											<div class="container-fluid p-0">
											  <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible" role="alert" >
												<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
												  <span aria-hidden="True">&times;</span>
												</button>
												{{ message }}
											  </div>
											</div>
										{% endfor %}
									{% endif %}
								</center>
							</div>

							<!-- row -->
							<div class="row row-sm">
								<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
									<div class="card box-shadow-0">
										<div class="card-header border-bottom">
											<h3 class="card-title">Add Vehicle Form</h3>
										</div>
										<div class="card-body">
											<form class="form-horizontal row" action="{% url 'app:vehicle_add' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

												<div class="form-group col-md-6">
                                                    <label class="form-label" for="name">Name</label>
                                                    <input type="text" id="name" name="name" class="form-control" required>
												</div>

												<div class="form-group col-md-6">
                                                    <label class="form-label" for="vehicle_owner">RTC/PHB</label>
                                                    <select class="form-control custom-select" id="vehicle_owner" name="vehicle_owner" required>
														<option value="">Select Option</option>
															<option value='RTC'>RTC</option>
															<option value='PHB'>PHB</option>
													</select>
												</div>

												<div class="form-group mt-3">
													<div>
														<button type="submit" class="btn btn-primary">Save Vehicle  Info</button>
														<a href="{% url 'app:vehicle_list' %}">
															<button type="button" class="btn btn-secondary">Cancel</button>
														</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- row -->



						</div>
					</div>
				</div>
				<!-- CONTAINER CLOSED -->

{% endblock %}